<header>
    <md-toolbar class="toolbar">
        <div class="header-content md-toolbar-tools">
            <h1>
                <span><a href="/" class="brand">Ammattiko.</a></span>
            </h1>
            <span flex> </span>
        </div>
    </md-toolbar>
</header>
<main>
    <div class="pitch">
        <h1>DISCOVER FINNISH<br>UNIVERSITIES OF APPLIED SCIENCES</h1>
        <p class="pitch-phrase">Ammattiko is an interactive visualization tool to explore the data of <a class="source" href="http://theseus.fi">Theseus</a>,<br class="pitch-phrase-break"> the Open Repository of Universities of Applied Sciences in Finland.</p>
        <br>
        <md-button class="main-action-button md-raised" ng-click="goDashboard()">GET STARTED</md-button>
        <br>
    </div>
    <div class="kpis" layout="column" layout-gt-xs="row" layout-align="center">
        <div layout="row" flex>
            <md-card class="kpi" flex><span class="number">24</span> UNIVERSITIES</md-card>
            <md-card class="kpi" flex><span class="number">978</span> DEGREES</md-card>
        </div>
        <div layout="row" flex>
            <md-card class="kpi" flex><span class="number">22,241</span> TOPICS</md-card>
            <md-card class="kpi" flex><span class="number">127,012</span> THESES</md-card>
        </div>
    </div>
    </div>
    <div class="features" layout="column">
        <md-card class="feature" flex="50">
            <md-card-title layout="column" layout-gt-xs="row">
                <md-card-title-text class="feature-title" flex="50">
                    <span class="md-headline">DISCOVER DEGREES</span>
                    <hr>
                    <span class="md-subhead">Find degrees based on your interests. The dashboard allows you to find similar degrees through an interactive map and compare them based on theses topics.</span>
                    <br>
                    <md-button class="action-button md-raised" ng-click="goDashboard()">Access dashboard</md-button>
                </md-card-title-text>
                <md-card-title-media  class="feature-image" flex="50" layout-align="center center">
                    <img src="/assets/img/degrees.png" class="screenshot" alt="finland amk degrees"/>
                </md-card-title-media>
            </md-card-title>
            </md-card-title>
        </md-card>
        <md-card class="feature" flex="50">
            <md-card-title layout="column" layout-gt-xs="row">
                <md-card-title-media class="feature-image" flex="50" flex-order="2" flex-order-gt-xs="1">
                    <img src="/assets/img/topics.png" class="screenshot" alt="finland amk topics"/>
                </md-card-title-media>
                <md-card-title-text class="feature-title" flex="50" flex-order="1" flex-order-gt-xs="2">
                    <span class="md-headline">DISCOVER TOPICS</span>
                    <hr>
                    <span class="md-subhead">Find the most popular topics for a university or degree. The dashboard allows you to find related topics and relevant theses.</span>
                    <br>
                    <md-button class="action-button md-raised" ng-click="goDashboard()">Access dashboard</md-button>
                </md-card-title-text>
            </md-card-title>
        </md-card>
        <md-card class="feature" flex="50">
            <md-card-title layout="column" layout-gt-xs="row">
                <md-card-title-text class="feature-title" flex="50">
                    <span class="md-headline">DISCOVER THESES</span>
                    <hr>
                    <span class="md-subhead">Find the most relevant theses written by university graduates. Get full access to the theses at <a class="source" href="http://theseus.fi">Theseus.fi</a>.</span>
                    <br>
                    <md-button class="action-button md-raised" ng-click="goDashboard()">Access dashboard</md-button>
                </md-card-title-text>
                <md-card-title-media class="feature-image" flex="50">
                    <img src="/assets/img/theses.png" class="screenshot" alt="finland amk theses"/>
                </md-card-title-media>
            </md-card-title>
        </md-card>
    </div>
</main>
<footer>
    <md-toolbar class="toolbar">
        <div class="footer-content md-toolbar-tools">
            <span><a href="mailto:ari.bajorouvinen@metropolia.fi">CONTACT</a></span>
        </div>
    </md-toolbar>
</footer>