<header>
    <md-toolbar class="toolbar">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Home" ng-click="goHome()">
                <i class="material-icons">home</i>
            </md-button>
            <h1>
                <span class="brand">Ammattiko.</span>
            </h1>
            <span flex> </span>
            <md-button class="md-icon-button reset-button" aria-label="Reset">
                <i class="material-icons" ng-click="init()">autorenew</i>
            </md-button>
            <md-button class="md-icon-button reset-button" aria-label="Help">
                <i class="material-icons">help</i>
            </md-button>
        </div>
    </md-toolbar>
</header>
<main>
    <md-card class="filter-container">
        <div layout="column" layout-gt-sm="row">
            <div layout="row" flex="50">
                <md-chips flex ng-model="selected_topics" placeholder="Enter a topic" secondary-placeholder="" md-transform-chip="$chip.toLowerCase()"></md-chips>
            </div>
            <div layout="row" flex="50">
                <md-input-container class="university-container" flex>
                    <label>University</label>
                    <md-select ng-model="selected_university">
                        <md-option><em>All</em></md-option>
                        <md-option ng-repeat="university in universities" ng-value="university">
                            {{university.label}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="language-container" flex>
                    <label>Language</label>
                    <md-select ng-model="selected_language">
                        <md-option><em>All</em></md-option>
                        <md-option ng-repeat="language in languages" ng-value="language">
                            {{language.label}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </md-card>
    <div ng-if="includeDesktopTemplate" layout="row">
        <md-card flex="50">
            <div class="md-toolbar-tools">
                <h3>DEGREES</h3>
            </div>
            <md-divider></md-divider>
            <div class="container">
                <bubble-chart data="degrees" selected="selected_degrees"></bubble-chart>
                <span class="chart-help"><i>Hover, click, zoom and pan</i></span>
            </div>
        </md-card>
        <md-card flex="25">
            <div class="md-toolbar-tools">
                <h3>TOPICS</h3>
            </div>
            <md-divider></md-divider>
            <div class="container">
                <bar-chart data="topics" selected="selected_topics"></bar-chart>
                <!--<span class="chart-help"><i>Click</i></span>-->
            </div>
        </md-card>
        <md-card flex="25">
            <div class="md-toolbar-tools">
                <h3>THESES</h3>
            </div>
            <md-divider></md-divider>
            <div class="container">
                <md-list flex>
                    <!--<md-subheader class="md-no-sticky">117,653 theses</md-subheader>-->
                    <md-list-item class="md-2-line" ng-repeat="thesis in theses" ng-click="openThesisURL(thesis)">
                        <div class="md-list-item-text" layout="column" target="_blank">
                            <h3>{{ thesis.titles[0] }}</h3>
                            <h4>{{ thesis.authors[0] }}</h4>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </md-card>
    </div>
    <div ng-if="includeMobileTemplate">
        <md-card>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="degrees">
                    <md-content class="md-padding">
                        <!--<md-subheader class="md-no-sticky">997 degrees</md-subheader>-->
                        <bubble-chart data="degrees" selected="selected_degrees"></bubble-chart>
                    </md-content>
                </md-tab>
                <md-tab label="topics">
                    <md-content class="md-padding">
                        <!--<md-subheader class="md-no-sticky">20,000 topics</md-subheader>-->
                        <bar-chart data="topics" selected="selected_topics"></bar-chart>
                    </md-content>
                </md-tab>
                <md-tab label="theses">
                    <md-content class="md-padding">
                        <md-list flex>
                            <!--<md-subheader class="md-no-sticky">117,653 theses</md-subheader>-->
                            <md-list-item class="md-2-line" ng-repeat="thesis in theses" ng-click="openThesisURL(thesis)">
                                <div class="md-list-item-text" layout="column" target="_blank">
                                    <h3>{{ thesis.titles[0] }}</h3>
                                    <h4>{{ thesis.authors[0] }}</h4>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-card>
    </div>
</main>
<footer>
    <md-toolbar class="toolbar">
        <div class="md-toolbar-tools">
            <p>CONTACT</p>
        </div>
    </md-toolbar>
</footer>
