<header>
    <md-toolbar class="toolbar">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Home" ng-click="goHome()">
                <i class="material-icons">home</i>
            </md-button>
            <h1>
                <span class="brand">Ammattiko.<sup>beta</sup></span>
            </h1>
            <span flex> </span>
            <md-button class="md-icon-button reset-button" aria-label="Reset" ng-click="reset()">
                <i class="material-icons">autorenew</i>
            </md-button>
            <md-button class="md-icon-button reset-button" aria-label="Help">
                <i class="material-icons">help</i>
            </md-button>
        </div>
    </md-toolbar>
</header>
<main>
    <md-card class="filter-container">
        <div layout="column" layout-gt-sm="row">
            <div layout="row" flex-gt-sm="50">
                <md-chips flex ng-model="selected.topics" placeholder="Enter a topic"
                          md-autocumple-snap md-require-match="true"
                          secondary-placeholder="" md-transform-chip="transformChip($chip)">
                    <md-autocomplete
                            md-search-text="searchText"
                            md-items="item in querySearch(searchText)"
                            md-item-text="item._id"
                            placeholder="Search a topic">
                        <span md-highlight-text="searchText">{{item._id}}</span>
                    </md-autocomplete>
                    <md-chip-template>
                        <span>
                          <strong>{{$chip}}</strong>
                        </span>
                    </md-chip-template>
                </md-chips>
            </div>
            <div layout="row" flex-gt-sm="50">
                <md-input-container class="university-container" flex="50">
                    <label>University</label>
                    <md-select ng-model="selected.university">
                        <md-option>All</md-option>
                        <md-option ng-repeat="university in universities" ng-value="university" ng-selected="university._id === selected.university._id">
                            {{university.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="language-container" flex="50">
                    <label>Language</label>
                    <md-select ng-model="selected.language">
                        <md-option>All</md-option>
                        <md-option ng-repeat="language in languages" ng-value="language" ng-selected="language._id === selected.language._id">
                            {{language.label}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </md-card>
    <div ng-if="includeDesktopTemplate" layout="row">
        <md-card flex="50">
            <div class="md-toolbar-tools">
                <h3>DEGREES</h3>
            </div>
            <md-divider></md-divider>
            <div class="container chart">
                <md-subheader class="degrees-help">
                    <span ng-show="showDegreeHelp(degree, selected)">
                        <h3>Closer degrees in the map have more topics in common.</h3>
                        <span>Hover, select, zoom and pan on the degrees.</span>
                    </span>
                    <span ng-show="showDegreeLegend(degree, selected)">
                        <!--<h3>{{selected.degrees[0].degrees[0].name}}</h3>-->
                        <!--<span>{{selected.degrees[0].degrees[0].university.name}}</span>-->
                        <degree-legend hovered="degree"></degree-legend>
                    </span>
                    <span ng-show="showDegreeSelection(degree, selected)">
                        <h3>
                            <span>Selected {{selected.degrees.length}} degrees</span>
                        </h3>
                        <a class="clear-button" ng-click="clearDegrees()">Clear selection</a>
                    </span>
                </md-subheader>
                <bubble-chart data="degrees" selected="selected.degrees" hovered="degree"></bubble-chart>
            </div>
        </md-card>
        <md-card flex="25">
            <div class="md-toolbar-tools">
                <h3>TOPICS</h3>
            </div>
            <md-divider></md-divider>
            <div class="container">
                <md-subheader class="md-no-sticky">Select between most popular topics.</md-subheader>
                <bar-chart data="topics" selected="selected.topics"></bar-chart>
            </div>
        </md-card>
        <md-card flex="25">
            <div class="md-toolbar-tools">
                <h3>THESES</h3>
            </div>
            <md-divider></md-divider>
            <div class="container">
                <md-subheader class="md-no-sticky">Consult {{counts.thesis | number}} theses.</md-subheader>
                <md-list flex>
                    <md-list-item class="md-2-line" ng-repeat="thesis in theses" ng-click="openThesisURL(thesis)">
                        <div class="md-list-item-text" layout="column" target="_blank">
                            <h3>{{ thesis.titles[0] }}</h3>
                            <h4>{{ thesis.authors[0] }} - {{thesis.year}}</h4>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </md-card>
    </div>
    <div ng-if="includeMobileTemplate">
        <md-card>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="degrees">
                    <md-content class="md-padding">
                        <!--<md-subheader class="md-no-sticky">997 degrees</md-subheader>-->
                        <md-subheader class="degrees-help">
                            <span ng-show="showDegreeHelp(degree, selected)">
                                <span>Hover, select, zoom and pan on the degrees.</span>
                            </span>
                            <span ng-show="showDegreeSelection(degree, selected)">
                                <h3>
                                    <span>Selected {{selected.degrees.length}} degrees</span>
                                </h3>
                                <a class="clear-button" ng-click="clearDegrees()">Clear selection</a>
                            </span>
                            <span ng-show="showDegreeLegend(degree, selected)">
                                <!--<h3>{{selected.degrees[0].degrees[0].name}}</h3>-->
                                <!--<span>{{selected.degrees[0].degrees[0].university.name}}</span>-->
                                <degree-legend hovered="degree"></degree-legend>
                            </span>
                        </md-subheader>
                        <bubble-chart data="degrees" selected="selected.degrees" hovered="degree"></bubble-chart>
                    </md-content>
                </md-tab>
                <md-tab label="topics">
                    <md-content class="md-padding">
                        <md-subheader>Select between most popular topics.</md-subheader>
                        <bar-chart data="topics" selected="selected.topics"></bar-chart>
                    </md-content>
                </md-tab>
                <md-tab label="theses">
                    <md-content class="md-padding">
                        <md-subheader>Consult {{counts.thesis | number}} theses.</md-subheader>
                        <md-list flex>
                            <md-list-item class="md-2-line" ng-repeat="thesis in theses" ng-click="openThesisURL(thesis)">
                                <div class="md-list-item-text" layout="column" target="_blank">
                                    <h3>{{ thesis.titles[0] }}</h3>
                                    <h4>{{ thesis.authors[0] }} - {{thesis.year}}</h4>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-card>
    </div>
</main>
<footer>
    <md-toolbar class="toolbar">
        <div class="md-toolbar-tools">
            <span class="footer-item"><a href="mailto:ari.bajorouvinen@metropolia.fi">CONTACT</a></span>
        </div>
    </md-toolbar>
</footer>
