body {
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
}

.brand {
    letter-spacing: 3px;
}

.home-header {
    max-width: 1000px;
    margin: auto;
}

.home-footer {
    max-width: 1000px;
    margin: auto;
}

.footer-item {
    font-size: 16px;
}

.toolbar {
    background: whitesmoke !important;
    color: rgb(24, 68, 126) !important
}

md-ink-bar {
    color: rgb(181, 28, 49) !important;
    background: rgb(181, 28, 49) !important;
}

.d3-tip {
    color: white;
    line-height: 1;
    padding: 10px;
    background: rgba(24, 68, 126, 0.7);
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(24, 68, 126, 0.7);
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 15px;
    width: 100%;
    line-height: 1;
    color: rgba(24, 68, 126, 0.7);;
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.bar-chart-container {
    padding-top: 15px;
}

.bar-container {
    font-size: 16px;
    text-align: left;
    margin-top: 10px;
    cursor: pointer;
}

.bar {
    background: rgb(24, 68, 126);
    border-style: solid;
    border-width: 3px;
    border-color: rgb(250,250,250);
    padding: 5px;
    height: 14px;
    opacity: 0.7;
}

.selected-bar {
    background: rgb(237, 167, 0) !important;
}

.bar-number {
    color: white;
    font-size: 14px;
    float: right;
}

.bar-text {
    margin: 4px;
}

rect {
    fill: transparent;
    shape-rendering: crispEdges;
    cursor: pointer;
}


circle {
    cursor: pointer;
    fill: rgb(237, 167, 0);
    opacity: 0.5;
    stroke-width: 2px;
    stroke: rgb(237, 167, 0);
}

.selected-circle {
    fill: rgb(24, 68, 126) !important;
    stroke: rgb(24, 68, 126) !important;
}

.degrees-help {
    min-height: 100px;
}

.clear-button {
    color: rgb(181, 28, 49);
    text-decoration: underline;
    cursor: pointer;
}

.container {
    padding: 10px;
}

.chart {
    min-height: 720px;
}

.filter-container {
    padding: 10px 10px 0 10px;
}

.chart-help {
    font-size: 14px;
    right: 0px;
    position: absolute;
    bottom: 0px;
}

.md-chips {
    padding-bottom: 9px;
}

.pitch {
    height: 350px;
    padding: 20px;
    color: white;
    background-image: url(/assets/img/auditorium.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.kpis {
    margin: 5px;
}

.kpi {
    padding: 20px;
    text-align: center;
}

.number {
    font-size: 30px;
}

.feature {
    max-width: 1000px !important;
    margin-left: auto;
    margin-right: auto;
}

.feature-title {
    margin: 20px 10px;
}

.feature-image {
    margin: auto;
}

.screenshot {
    max-width: 100% !important;
    height: auto;
    display: block;
    margin: auto;
}

a.source {
    color: inherit;
}

a.source:visited{
    color: inherit;
}

.footer-toolbar {
    max-width: 1000px;
    margin: auto;
}

.main {
    text-align: center;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(/assets/img/auditorium.jpg);
    background-repeat: no-repeat;
}​

.features {
    margin: 50px;
}

.main-action-button {
    padding: 5px 45px;
    margin: auto;
    background-color: rgba(237, 167, 0, 0.7) !important;
    color: white !important;
    font-weight: bold;
}

.action-button {
    padding: 5px 45px;
    margin: auto;
    background-color: rgba(237, 167, 0, 0.7) !important;
    color: white !important;
    font-weight: bold;
}

.pitch-phrase {
    line-height: 25px
}

.pitch-phrase-break {
    display: none;
}

@media (min-width: 600px) {

    .pitch h1 {
        letter-spacing: 2px;
    }

    .pitch {
        text-align: center;
        height: 400px;
        padding: 100px 100px 0 100px;
    }

    .pitch-phrase-break {
        display: block;
    }

    .feature {
        padding: 30px;
        margin-bottom: 30px;
    }

    .feature-title {
        margin: 30px;
    }

    .kpis {
        margin: 20px auto 10px auto !important;
        max-width: 1015px;
    }

    .kpi {
        max-width: 400px !important;
    }

    .footer-content {
        max-width: 1000px;
    }
}