.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.bar-chart-container div {
    font: 14px sans-serif;
    text-align: left;
    padding: 5px;
    margin-top: 2px;
    cursor: pointer;
}

.bar {
    background: rgb(63,81,181);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(63,81,181);
    height: 10px;
    opacity: 0.7;
}

.selected-bar {
    border-color: orange !important;
    background: orange !important;
}

.bar-number {
    color: white;
    font-size: 10px;
    float: right;
}

rect {
    fill: transparent;
    shape-rendering: crispEdges;
    cursor: pointer;
}


circle {
    cursor: pointer;
    fill: orange;
    opacity: 0.5;
    stroke-width: 2px;
    stroke: orange;
}

.selected-circle {
    fill: rgb(63,81,181) !important;
    stroke: rgb(63,81,181) !important;
}

.container {
    padding: 10px;
}