.d3-tip {
    line-height: 1;
    padding: 10px;
    background: rgba(255,165,0, 0.7);
    color: #fff;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(63,81,181, 0.4);
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(255,165,0, 0.7);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.bar-chart-container {
    padding-top: 15px;
}

.bar-chart-container div {
    font: 14px;
    text-align: left;
    padding: 2px;
    margin-top: 5px;
    cursor: pointer;
}

.bar {
    background: rgb(63,81,181);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(63,81,181);
    height: 12px;
    opacity: 0.7;
}

.selected-bar {
    border-color: orange !important;
    background: orange !important;
}

.bar-number {
    color: white;
    font-size: 12px;
    float: right;
}

rect {
    fill: transparent;
    shape-rendering: crispEdges;
    cursor: pointer;
}


circle {
    cursor: pointer;
    fill: orange;
    opacity: 0.5;
    stroke-width: 2px;
    stroke: orange;
}

.selected-circle {
    fill: rgb(63,81,181) !important;
    stroke: rgb(63,81,181) !important;
}

.container {
    padding: 20px;
}

.filter-container {
    padding: 10px 10px 0px 10px;
}

.reset-button {
    padding-top: 15px !important;
}

.bubble-chart-help {
    font-size: 10px;
    text-align: right;
}

.bubble-tooltip {
    text-align: center;
}

/* Overwrites */
.chips-container {
    margin: 1px;
    label {
        font-size: 14px;
        color: rgba(0,0,0,0.26);
    }
    .chip {
        padding: 0;
        line-height: 30px;
        border-radius: 50%;
        border: none;
    }


}
